<div class="tweet">
  <div class="container">
    <div class="profileimage">
      <img src="<%= tweet.user.profile_image_uri%>" />
    </div>
    <div class="tweetbody">
      <p>
        <strong><%= tweet.user.name %></strong>
        <a href="<%=tweet.user.uri%>">@<%= tweet.user.screen_name %> </a>
      </p>

      <p><%= tweet.full_text %></p>
      <p>
        <%= time_ago_in_words(tweet.created_at) %> ago from
        <%= tweet.source.html_safe %>
      </p>
    </div>
  </div>
</div>
